<ion-view title="注册" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="page3-form2" class="list">
      <ion-list id="page3-list2">
        <label class="item item-input" id="page3-input3">
          <span class="input-label">账户名：</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page3-input4">
          <span class="input-label">邮箱：</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page3-input5">
          <span class="input-label">密码：</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="page2" id="page3-button11" class="button button-stable  button-block">点击注册</a>
    </form>
  </ion-content>
</ion-view>