<ion-view title="首页" id="page1" style="background-color:#FAFCFD;">
  <ion-content padding="true" style="background: url(img/g3SzAzUaQ9iDEXbfRIPO_E5BEAEE4BFA1E59BBEE78987_20170326202117.gif) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page1-heading1" style="color:#2CB9CC;text-align:center;" class="one">欢迎来到我的世界</h2>
    <div id="page1-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#19EEE5;">这是一个简单的世界</p>
    </div>
    <div id="page1-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#11EE34;">记录我曾写过的代码</p>
    </div>
    <div id="page1-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#F01616;">还有记忆</p>
    </div>
    <a ui-sref="page2" id="page1-button12" class="button button-positive  button-block">登录</a>
    <a ui-sref="page3" id="page1-button8" class="button button-positive  button-block">注册</a>
    <div id="page1-button-bar1" class="button-bar">
      <a href-inappbrowser="http://wuyaowangshu.oschina.io/dr/" id="page1-button5" style="border-radius:50px 50px 50px 50px;" class="button button-energized  button-block icon-left ion-android-film">我的作品</a>
      <a ui-sref="page4" id="page1-button6" style="font-size:17px;border-radius:50px 50px 50px 50px;" class="button button-royal  button-block icon-left ion-trophy txl">联系方式</a>
    </div>
  </ion-content>
</ion-view>