<ion-view title="登录" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="page2-form1" class="list">
      <ion-list id="page2-list1">
        <label class="item item-input" id="page2-input1">
          <span class="input-label">账户</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page2-input2">
          <span class="input-label">密码</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="page1" id="page2-button9" class="button button-stable  button-block">登录</a>
      <a ui-sref="page3" id="page2-button10" class="button button-positive  button-block button-clear">注册</a>
    </form>
  </ion-content>
</ion-view>