<ion-view title="通讯录" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="page4-list9">
      <label class="item item-input" id="page4-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar item-icon-right" id="page4-list-item3">
        <img src="img/zgM3R75xQXO6fNRTI3s1__20170511120410.jpg">
        <h2>王栉桢</h2>
        <p>175050106591</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="page1" id="page4-button13" style="font-weight:600;border-radius:0px 0px 0px 0px;" class="button button-positive  button-block">请扫描二维码添加好友</a>
    <div>
      <img src="img/XWaaZfJqSx6ds6uKr5BZ_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>